{% extends 'base.html' %}

{% block title %} 星愿便利屋 | 白日梦 | 我的代码日记 {% endblock %}

{% block content %}

    <div class="row">
    <form class="col s12" method="POST">
      <div class="row">
        <div class="input-field col s8">
          {{ form.csrf_token }}
          <b><div class="saydream">
              {{ form.body(class="materialize-textarea", id="textarea1", autocomplete="off") }}
          </div></b>
        </div>  
        <div class="input-field col s4 saydream2"> 
          {{ form.submit(class="waves-effect waves-light btn start") }}
        </div>
          <br>
          {% for error in form.body.errors %}
            <small class="error">{{ error }}</small><br>
          {% endfor %}
      </div>
    </form>
    </div>

    <h5 class="text-center">{{ messages|length }} 件星愿
    </h5>
    <div class="list-group">
        {% for message in messages %}
            <div class="row item card-panel hoverable">
              <h5>{{ message.user.nickname }}
              <small> #{{ loop.revindex }}</small>
              </h5>
              <p>{{ message.body }}</p>
            </div>
        {% endfor %}
    </div>
{% endblock %}

